# Sensitive credentials
charged-sector-283120-2e2e126eaf3d.json
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Admin
.admin/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

