# Sensitive credentials
service_account.json
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Admin
admin/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

